# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.venv

python_command/*
python_instrument/*
!python_command/data
!python_command/*.ipynb
!python_instrument/data
!python_instrument/*.ipynb
